
<div class="container-fluid" id="form-cont">
    <h2 class="text-center text-white name-title">Add Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote(); quoteForm.resetForm({})' #quoteForm='ngForm'>
        <div class="font-group">
            <label class="text-white name-title" for="name">Author Name</label>
            <input type="text" required class="form-control inputStyling" [(ngModel)]="newQuote.name" name="name" #name='ngModel' id="name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>
        <div class="form-group">
            <label class="text-white name-title" for="quoteTitile">Quote Title</label>
            <input class="form-control inputStyling" type="text" id="quoteTitile" name="quoteTitile" [(ngModel)]="newQuote.quoteTitile" #quoteTitile='ngModel' required>
            <div [hidden]="quoteTitile.valid || quoteTitile.pristine" class="alert alert-danger">
                <p>Quote title is required</p>
            </div>
        </div>
        <div class="form-group">
            <label class="text-white name-title" for="quoteMessage">Quote Message</label>
            <textarea class="form-control inputStyling" type="text" id="quoteMessage" name="quoteMessage" cols="30" rows="8" [(ngModel)]="newQuote.quoteMessage" #quoteMessage='ngModel' required></textarea>
            <div [hidden]="quoteMessage.valid || quoteMessage.pristine" class="alert alert-danger">
                <p>Message is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-info">Submit Quote</button>
    </form>
</div>